.btn {
  outline: none;
  border: none;
  width: 40px;
  height: 40px;

  &-about {
    background: url(assets/about-icon.png) center center / cover no-repeat;
    &:hover {
      background: url(assets/about-icon-hover.png) center center / cover no-repeat;
    }
  }

  &-list {
    background: url(assets/list-icon.png) center center / cover no-repeat;
    &:hover {
      background: url(assets/list-icon-hover.png) center center / cover no-repeat;
      }
    }

  &-search {
    background: url(assets/search-icon.png) center center / cover no-repeat;
    &:hover {
      background: url(assets/search-icon-hover.png) center center / cover no-repeat;
    }
  }

  &-save {
    background: url(assets/save-icon.png) center center / cover no-repeat;
  }

  &-twitter {
    background: url(assets/twitter-icon.png) center center / cover no-repeat;
  }
}

.btn-alien {
  background: url(assets/alien-icon.png) center center / cover no-repeat;

  &:hover {
    background: url(assets/alien-icon-hover.png) center center / cover no-repeat;
  }
}

.search .btn-about:hover::after, .search .btn-alien:hover::after, .search .btn-list:hover::after, .search .btn-user:hover::after{
  position: absolute;
  background: $highlight-color;
  top: 22px;
  right: 45px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  padding: 3px 5px;
  transform: rotate(-15deg);
}

.results .btn-about:hover::after, .results .btn-alien:hover::after, .results .btn-list:hover::after, .btn-search:hover::after, .results .btn-user:hover::after {
  position: absolute;
  background: $highlight-color;
  top: 55px;
  right: 0;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  padding: 3px 5px;
  transform: rotate(-15deg);
}

.btn-about:hover::after {
  content: 'About';
}

.btn-search:hover::after {
  content: 'Search';
}

.btn-list:hover::after {
  content: 'Saved';
}

.btn-alien:hover::after {
  content: 'Login';
}

.btn-user:hover::after {
  content: 'Logout';
}

.search .btn-list:hover::after {
  top: 17px;
}
