.btn {
  outline: none;
  border: none;
  width: 40px;
  height: 40px;

  &-about {
    background: url(assets/about-icon.png) center center / cover no-repeat;
  }

  &-list {
    background: url(assets/list-icon.png) center center / cover no-repeat;
  }

  &-search {
    background: url(assets/search-icon.png) center center / cover no-repeat;
  }

  &-save {
    background: url(assets/save-icon.png) center center / cover no-repeat;
  }

  &-twitter {
    background: url(assets/twitter-icon.png) center center / cover no-repeat;
  }
}