// Results page styling
.results {
    background: url(resultBackground.jpg) $secondary-color;
    background-size: contain;
    background-repeat: no-repeat;
}

// Results header
.results-header {
    margin: 0 auto;
}

.place-heading {
    text-align: center;
}

.place-heading h1 {
    font-size: 25rem;
    line-height: 0.8;
    padding-bottom: 200px;
}

.results h2 {
    padding-top: 30px;
    font-size: 6rem;
    text-shadow: 2px 2px $highlight-color;
    line-height: 1;
    text-align: center;
}

// Nav top right corner
.results-nav ul {
    text-align: right;
    padding: 20px 20px 0 0;
}

// Nav items in one row
.results-nav li {
    display: inline-block;
}

.list-icon {
    margin-left: 5px;
}

// Details area
.details {
    margin-top: -100px;
}

// Container for stats and share/save options
.stats {
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 155px;
    margin-right: -250px;
}

.info {
    font-family: $primary-font;
    font-size: 3.5rem;
    padding-bottom: 10px;
}

.info p {
    margin: 0;
}

// Buttons
.share button {
    background: none;
    outline: none;
    border: none;
}

// Hover effect on share icons
.save-icon, .twitter-icon {
    transform: scale(1);
    transition: transform 0.3s;
}

.save-icon:hover, .twitter-icon:hover {
    transform: scale(1.1);
}

.save-icon {
    margin-right: 10px;
}

// Container for satellite photo
.sat {
    width: 50%;
    float: right;
}

// NASA satellite photo
// container for arrow/zoom above image
.zoom {
    height: 155px;
    width: 300px;
    background: url(sat-zoom.png);
    background-repeat: no-repeat;
    background-position-x: right;

}

.nasa {
    border: 2px solid $primary-color;
    width: 300px;
}

// Footer
footer {
    padding: 30px 0 60px 0;
    background: url(resultBackground.jpg);
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
}

footer h3 {
    font-size: 3rem;
    text-align: center;
    line-height: 1;
}

footer p {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-weight: 700;
}
