// Results page styling
// Results header
.results-header {
    margin: 0 auto;
    background: linear-gradient( rgba(12,5,15,0), rgba(12,5,15,1) ), url(assets/resultBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.place-heading {
    text-align: center;
    width: 100vw;
    margin: 0 auto;
    padding: 0 10px 160px 10px;
}

.place-heading span {
    display: block;
}

.fit {
    font-size: 20rem;
    line-height: 0.8;
}


.results h2, .gallery-heading {
    padding-top: 30px;
    font-size: 6rem;
    text-shadow: 2px 2px $highlight-color;
    line-height: 1;
    text-align: center;
}

.gallery-heading {
    padding-top: 0;
    padding-bottom: 30px;
}

// Nav top right corner
.results-nav ul {
    text-align: right;
    padding: 20px 20px 0 0;
}

// Nav items in one row
.results-nav li {
    display: inline-block;
    margin-right: 10px;
}

.list-icon {
    margin-left: 5px;
}

// Details area
.details {
    margin-top: -100px;
    padding-bottom: 100px;
}

// Container for stats and share/save options
.stats {
    width: 40%;
    float: right;
    text-align: center;
    margin-top: 71px;
}

.info {
    font-family: $primary-font;
    font-size: 3.5rem;
    padding-bottom: 10px;
}

.info p {
    margin: 0;
}

// Hover effect on share icons
.btn-save {
    margin-right: 10px;
}

.btn-save, .btn-twitter {
    transform: scale(1);
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}


// Container for satellite photo
.sat {
    width: 50%;
    float: right;
    position: relative;
}

// Caption for satellite photo
.sat-caption {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}

// Move caption over image
.overlay {
    background: rgba(12,5,15,0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 20px;
}

// NASA satellite photo
// container for arrow/zoom above image
.zoom {
    height: 71px;
    width: 350px;
    background: url(assets/sat-zoom.png);
    background-repeat: no-repeat;
    background-position-x: right;

}

.nasa {
    border: 2px solid $primary-color;
    width: 300px;
}

// Footer
footer {
    padding: 30px 0 60px 0;
    background: linear-gradient( rgba(12,5,15,1), rgba(12,5,15,0) ), url(assets/resultBackground.jpg);
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
}

footer h3 {
    font-size: 3rem;
    text-align: center;
    line-height: 1;
    color: $accent-color;
}

footer p {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 2rem;
    color: $accent-color;
}
