// Search styles
main {
    background: url(searchBackground.jpg);
    background-size: cover;
    background-position-x: center;
    height: 100vh;
    text-align: center;
}

main h1 {
    padding-top: 30px;
    font-size: 25rem;
    line-height: 1;
}

input[type=text] {
    display: block;
    color: $primary-color;
    background: rgba(12, 5, 15, 0.6);
    text-transform: uppercase;
    border: 0;
    margin: 0 auto 10px;
    padding: 20px 30px;
    width: 400px;
    position: relative;
    z-index: 50;
}

::placeholder {
    color: $primary-color;
    opacity: 1;
}

input:focus {
    outline-color: $primary-color;
}

input:disabled {
    opacity: 0;
}
