// Search styles
// Search page (main) is browser height
.search {
    background: url(searchBackground.jpg);
    background-size: cover;
    background-position-x: center;
    height: 100vh;
    text-align: center;
    position: relative;
}

// Search nav
.search-nav {
    position: absolute;
    right: 0;
    top: calc(50vh - 50px);
    margin-right: 30px;
}

nav button {
    background: none;
    border: none;
    outline: none;
    transform: rotate(0deg);
    transition: transform 0.4s;
}

nav img {
    width: 40px;
    transform: rotate(0deg);
    transition: transform 0.4s;
}

nav button:hover, nav button:focus, nav a img:hover {
    transform: rotate(15deg);
}

nav button:active {
    transform: rotate(0deg);
}

nav ul, nav li {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.search-nav li {
    padding-bottom: 8px;
}

.search-nav li:last-child {
    padding-bottom: 0;
}

// Profile image when logged in
.profile-picture {
    border-radius: 50%;
}

// IVS heading
.search h1 {
    padding-top: 30px;
    font-size: 25rem;
    line-height: 1;
}

.search form {
    width: 400px;
    margin: 0 auto;
    position: relative;
}

// Search inputs
input[type=text], select {
    display: block;
    color: $primary-color;
    background: rgba(12, 5, 15, 0.6);
    text-transform: uppercase;
    border: 0;
    margin: 0 auto 10px;
    padding: 20px 30px;
    width: 400px;
    position: relative;
    z-index: 50;
}

// Make placeholder text same colour
::placeholder {
    color: $primary-color;
    opacity: 1;
}

// Make outline primary colour when clicked
input:focus, select:focus {
    outline-color: $primary-color;
}

// Make other input boxes less visible when disabled
input:disabled, select:disabled {
    display: none;
}

// Autocomplete dropdown
.autocomplete-dropdown-container {
    position: absolute;
    width: 100%;
    max-height: 500px;
    z-index: 500;
}

// Autocomplete options
.suggestion-item {
    background: rgba(12, 5, 15, 0.6);
    font-size: 2rem;
    margin-bottom: 5px;
    padding: 5px 0;
    &--active {
        background: rgba(242, 165, 59, 0.6);
        color: $secondary-color;
        font-size: 2rem;
        margin-bottom: 5px;
        padding: 5px 0;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

// // Dropdown in select
// .dropdown {
//     background: url(dropdown-icon.png);
// }

// COME BACK TO OPTION STYLING

.search form button {
    font-size: 6rem;
    background: none;
    border: none;
    outline: none;
    transform: rotate(-15deg);
    transition: transform 0.8s;
    color: $primary-color;
    text-shadow: 1px 1px $highlight-color;
}

.search form button:hover, .search form button:focus {
    color: $highlight-color;
    transform: rotate(0deg);
    text-shadow: 1px 1px $primary-color;
}

// Search page full title
.title {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-family: $primary-font;
    color: $accent-color;
    font-size: 5rem;
    background: rgba(12, 5, 15, 0.8);
    text-transform: uppercase;
}
